.avatar {
    border-radius: 100px;
}
body{
        background-color: #a1c8f1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
}
.avatar1
{
    font-family: "Lobster", cursive;
    margin: 10px 0 8px 0;
    word-spacing: 10px;
}
p {
    font-family: system-ui;
    width: 450px;
}

.link {
    display: inline-block;
    text-decoration: none;
    color: black;
}
.list{
    list-style: none;
    padding-left: 0;
}

.link {
    margin-bottom: 12px;
    background-color: white;
    border: 0;
    width: 300px;
    padding: 15px 0 15px 0;
    border-radius: 100px;
    font-family: "Roboto Condensed", cursive;
    font-size: 15px;
    transition-duration: 0.3s;
    transition-property: color, background-color;
    -webkit-box-shadow: 0px 11px 22px -9px #000000;
    box-shadow: 0px 11px 22px -9px #000000;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: black;
}

.link:hover {
    color: white;
    background-color: black;
}



